.container, .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.content {
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    min-height: 100px;
    border: 1px solid black;
}

button {
    padding: 10px 20px;
    margin: 5px;
    outline: none;
}